* {
  background-color: #0f031c;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, sans-serif;
}

.page-wrapper {
  width: 100%;
  height: auto;
}

/* Sticky Nav */
.nav-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}

.grad-bar {
  height: 5px;
  width: 100%;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: gradbar 15s ease infinite;
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.navbar img {
  height: 18px;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-self: end;
}

.nav-item a {
  text-decoration: none;
  color: #490b8b;
  font-size: 0.95rem;
  transition: 0.3s;
}

.nav-item a:hover {
  color: #3498db;
}

/* SEARCH */
#search-icon {
  margin-left: 15px;
  cursor: pointer;
}

.search-input {
  display: none;
}

/* MENU TOGGLE */
#mobile-menu {
  display: none;
  margin-right: 25px;
  cursor: pointer;
}

#mobile-menu .bar {
  width: 25px;
  height: 3px;
  background: #54007b;
  margin: 5px 0;
  transition: 0.3s;
}

/* ANIMATION */
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* MOBILE STYLES */
@media (max-width: 720px) {

  .navbar ul {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: calc(100vh - 55px);
    background: #0f031c;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 50px;
    transform: translateX(-100%);
    transition: 0.8s ease;
  }

  .navbar ul.mobile-nav {
    transform: translateX(0);
  }

  #mobile-menu {
    display: block;
  }

  .navbar img {
    margin-left: 15px;
  }

  .nav-item {
    padding: 15px 0;
  }

  #search-icon,
  .search-input {
    display: none;
  }
}

.logo {
  padding: 10px 10px 5px 15px;
}

.logo span {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
#ankit{
  color: #9290C3;
}

#dev{
  color: #4b2574;
}